@keyframes moveinLeft {
    0%{
        transform: translateX(-40px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveinRight {
    0%{
        transform: translateX(40px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveinTop {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}